
@{
    ViewBag.Title = "Hobbies";
}

<h2>Hobbies</h2>

<div id="imageWrapper">
    <img class="hobbieImages" src="~/images/golf.jpg" />
    <br />
    <br />
    <img class="hobbieImages" src="~/images/paradiso.jpg" />
</div>

<div id="hobbieWrapper">
    <h3>Golf</h3>
    <h4>Favorite courses</h4>
    <ul>
    
        <li>Oakbrook <br /><br /></li>
        
        <li>The Home Course <br /><br /></li>
        
        <li>Medow Park <br /><br /></li>
    </ul>

    <br />
    <br/>

    <h3>Going to Shows</h3>
    <h4>Favorite Shows</h4>



    <ul>
        <li>EDC (Electric Daisy Festival) <br /> <br /></li>

        <li>Paradiso <br /><br /></li>
    
        <li>Freak Night <br /><br /></li>
    </ul>

</div>

